a {
    color: inherit;
}
textarea {
    resize: none !important;
}

/* Voor alle pagina's */
#contentColumn.column {
    margin-top: -96px;
}
span.icon + small {
    min-width: 36px;
    margin-left: 12px;
}
.is-1by1 > img,
.is-64x64 > img,
.is-48x48 > img {
    height: 100% !important;
    object-fit: cover;
}

/* Homepage */
#userCard.card .media + nav {
    margin-top: 24px;
}

/* Profile */
.tabs > ul > li > a > strong {
    margin-left: 12px;
}
.follow-card {
    width: 50%;
    padding: .75rem;
    float: left !important;
    flex: none;
}
.follow-card .media + p {
    height: 4.5em;
    line-height: 1.5em;
    overflow: hidden;
}

/* Threads */
