<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:fragment="htmlHeader">
    <meta charset="utf-8">
    <title th:text="${title}">Kwetter</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.1/css/bulma.min.css">
    <link th:href="@{/css/custom.css}" rel="stylesheet" href="/static/css/custom.css">
    <script defer src="https://use.fontawesome.com/releases/v5.1.0/js/all.js"></script>
    <script defer src="https://cdnjs.cloudflare.com/ajax/libs/umbrella/2.10.2/umbrella.min.js"></script>
    <script th:src="@{/js/custom.js}" defer src="/static/js/custom.js"></script>
</head>
<body>
<section th:fragment="header" class="hero is-primary">
    <div class="hero-body">
        <div class="container">
            <div class="columns">
                <div class="column is-3">
                    <h1 class="title"><a href="/">Kwetter</a></h1>
                    <h2 class="subtitle">JEA6a</h2>
                </div>
                <div class="column is-7">
                    <th:block th:if="${hasNavigation}">
                        <div th:replace="${navigation}"></div>
                    </th:block>
                </div>
                <th:block th:unless="${pageType == 'newKweet' || hideKweetButton == true}">
                    <div class="column">
                        <a href="/kweet/new">
                            <button class="button is-large is-primary">
                                <span class="icon">
                                    <i class="far fa-edit"></i>
                                </span>
                                <span>Kweet</span>
                            </button>
                        </a>
                    </div>
                </th:block>
            </div>
        </div>
    </div>
</section>
<section th:fragment="main" class="section">
    <div class="container">
        <div class="columns">
            <th:block th:unless="${noLeft}">
                <div th:insert="${left}" class="column is-3"></div>
            </th:block>
            <div th:insert="${content}" th:classappend="${noLeft == true}? 'is-offset-3'"
                 class="column is-7" id="contentColumn"></div>
            <th:block th:if="${hasRight}">
                <div th:insert="${right}" class="column is-2"></div>
            </th:block>
        </div>
    </div>
</section>
<div th:fragment="followCard" class="follow-card">
    <div class="card">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <a th:href="'/'+${followCard.username}">
                        <figure class="image is-64x64">
                            <img th:src="${followCard.profilePicture}" alt="Profile picture" />
                        </figure>
                    </a>
                </div>
                <div class="media-content">
                    <h5 class="title is-5">
                        <a th:text="${followCard.fullName}" th:href="'/'+${followCard.username}">-</a>
                    </h5>
                    <h6 class="subtitle is-6">
                        <a th:text="'@'+${followCard.username}" th:href="'/'+${followCard.username}">-</a>
                    </h6>
                </div>
            </div>
            <p th:text="${followCard.biography}"></p>
        </div>
    </div>
</div>
<div th:fragment="kweet" class="card">
    <div class="card-content">
        <article class="media">
            <div class="media-left">
                <a th:href="'/'+${kweet.username}">
                    <figure class="image is-64x64">
                        <img th:src="${kweet.profilePicture}" alt="Profile picture" />
                    </figure>
                </a>
            </div>
            <div class="media-content">
                <div class="content">
                    <th:block th:if="${kweet.rekweeted}">
                        <a th:href="'/'+${kweet.rekweetingOrLikingUsername}">
                            <span class="tag is-primary is-pulled-right">
                                <span class="icon is-small">
                                    <i class="fas fa-retweet"></i>
                                </span>
                                <small th:text="${kweet.rekweetingOrLikingName}+' rekweeted'">-</small>
                            </span>
                        </a>
                    </th:block>
                    <th:block th:if="${kweet.liked}">
                        <a th:href="'/'+${kweet.rekweetingOrLikingUsername}">
                            <span class="tag is-primary is-pulled-right">
                                <span class="icon is-small">
                                    <i class="fas fa-heart"></i>
                                </span>
                                <small th:text="${kweet.rekweetingOrLikingName}+' liked'">-</small>
                            </span>
                        </a>
                    </th:block>
                    <p>
                        <a th:href="'/'+${kweet.username}">
                            <strong th:text="${kweet.fullName}">-</strong>
                        </a>
                        <small>
                            <a th:text="'@'+${kweet.username}" th:href="'/'+${kweet.username}">-</a>
                            &#x2022;
                            <a th:text="${kweet.timestamp}" th:href="'/kweet/'+${kweet.id}">-</a>
                        </small>
                        <br />
                        <th:block th:text="${kweet.content}">-</th:block>
                    </p>
                    <th:block th:if="${kweet.hasMedia}">
                        <figure class="image">
                            <img th:src="${kweet.media}" alt="Kweeted media" />
                        </figure>
                    </th:block>
                    <th:block th:if="${kweet.hasQuotes}">
                        <th:block th:each="quote:${kweet.quotes}">
                            <div class="card">
                                <div class="card-content">
                                    <div class="content">
                                        <p>
                                            <a th:href="'/'+${quote.username}">
                                                <strong th:text="${quote.fullName}">-</strong>
                                            </a>
                                            <small>
                                                <a th:text="'@'+${quote.username}" th:href="'/'+${quote.username}">-</a>
                                                &#x2022;
                                                <a th:text="${quote.timestamp}" th:href="'/kweet/'+${kweet.id}">-</a>
                                            </small>
                                            <br />
                                            <th:block th:text="${quote.content}">-</th:block>
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </th:block>
                    </th:block>
                </div>
                <nav class="level is-mobile">
                    <div class="level-left">
                        <a th:href="'/kweet/'+${kweet.id}+'/reply'" aria-label="reply" class="level-item">
                            <button class="button is-white has-text-primary">
                                <span class="icon is-small">
                                    <i class="fas fa-reply"></i>
                                </span>
                                <small th:text="${kweet.amountOfReplies}">-</small>
                            </button>
                        </a>
                        <form th:action="'/user/'+${#authentication.name}+'/like/'+${kweet.id}+'?redirect='+${thisPath}"
                              method="post" aria-label="rekweet" class="level-item">
                            <button type="submit" class="button is-white has-text-primary">
                                <span class="icon is-small">
                                    <i class="fas fa-retweet"></i>
                                </span>
                                <small th:text="${kweet.amountOfRekweets}">-</small>
                            </button>
                        </form>
                        <form th:action="'/user/'+${#authentication.name}+'/like/'+${kweet.id}+'?redirect='+${thisPath}"
                              method="post" aria-label="like" class="level-item">
                            <button type="submit" class="button is-white has-text-primary">
                                <span class="icon is-small">
                                    <i class="fas fa-heart"></i>
                                </span>
                                <small th:text="${kweet.amountOfLikes}">-</small>
                            </button>
                        </form>
                    </div>
                </nav>
            </div>
        </article>
    </div>
</div>
</body>
</html>