<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:with="title='Kweet - Kwetter',noLeft=true">
<head th:replace="fragments::htmlHeader"></head>
<body>
<section th:replace="fragments::header"></section>
<section th:replace="fragments::main(content=~{::#content})">
    <th:block id="content">
        <th:block th:unless="${pageType == 'newKweet'}">
            <div class="card">
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <a th:href="'/'+${replyRoot.username}">
                                <figure class="image is-64x64">
                                    <img th:src="${replyRoot.profilePicture}" alt="Profile picture" />
                                </figure>
                            </a>
                        </div>
                        <div class="media-content">
                            <h5 class="title is-5">
                                <a th:href="'/'+${replyRoot.username}" th:text="${replyRoot.fullName}">-</a>
                            </h5>
                            <h6 class="subtitle is-6">
                                <a th:href="'/'+${replyRoot.username}" th:text="${replyRoot.username}">-</a>
                            </h6>
                        </div>
                    </div>
                    <div class="content">
                        <p th:text="${replyRoot.content}" class="is-size-1 has-text-weight-light">-</p>
                        <th:block th:if="${replyRoot.hasMedia}">
                            <figure class="image">
                                <img th:src="${replyRoot.media}" alt="Kweeted media" />
                            </figure>
                        </th:block>
                        <th:block th:if="${replyRoot.hasQuotes}">
                            <th:block th:each="quote:${replyRoot.quotes}">
                                <div class="card">
                                    <div class="card-content">
                                        <div class="content">
                                            <p>
                                                <a th:href="'/'+${quote.username}">
                                                    <strong th:text="${quote.fullName}">-</strong>
                                                </a>
                                                <small>
                                                    <a th:text="'@'+${quote.username}" th:href="'/'+${quote.username}">-</a>
                                                    &#x2022;
                                                    <a th:text="${quote.timestamp}" th:href="'/kweet/'+${kweet.id}">-</a>
                                                </small>
                                                <br />
                                                <th:block th:text="${quote.content}">-</th:block>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </th:block>
                        </th:block>
                        <p th:text="${replyRoot.timestamp}" class="has-text-grey-light">-</p>
                    </div>
                    <!--
                    <nav class="level is-mobile">
                        <div class="level-left">
                            <a th:href="'/kweet/'+${replyRoot.id}+'/reply'"
                               aria-label="reply" class="level-item has-text-primary">
                                <span class="icon is-small">
                                    <i class="fas fa-reply"></i>
                                </span>
                                <small th:text="${replyRoot.amountOfReplies}">-</small>
                            </a>
                            <a href="#" aria-label="rekweet" class="level-item has-text-primary">
                                <span class="icon is-small">
                                    <i class="fas fa-retweet"></i>
                                </span>
                                <small th:text="${replyRoot.amountOfRekweets}">-</small>
                            </a>
                            <a href="#" aria-label="like" class="level-item has-text-primary">
                                <span class="icon is-small">
                                    <i class="fas fa-heart"></i>
                                </span>
                                <small th:text="${replyRoot.amountOfLikes}">-</small>
                            </a>
                        </div>
                    </nav>
                    -->
                </div>
            </div>
        </th:block>
        <th:block th:unless="${pageType == 'kweet'}">
            <div class="card">
                <form class="card-content" th:action="${pageType == 'kweet'}? @{/kweet/new}"
                      th:object="${newKweetObject}" method="post">
                    <div class="field">
                        <div class="control">
                            <textarea class="textarea" id="kweettext" name="kweettext" th:field="*{content}"
                                      rows="2" placeholder="Wat is er aan het handje?"></textarea>
                        </div>
                    </div>
                    <nav class="level">
                        <div class="level-left">
                            <a class="level-item has-text-primary" href="#">
                                <span class="icon is-small">
                                    <i class="fas fa-file-image"></i>
                                </span>
                                <small>Add media</small>
                            </a>
                            <a class="level-item has-text-primary" href="#">
                                <span class="icon is-small">
                                    <i class="fas fa-quote-right"></i>
                                </span>
                                <small>Add quote</small>
                            </a>
                        </div>
                        <div class="level-right">
                            <button th:text="${pageType == 'replyTo'}? 'Reply' : 'Kweet!'"
                                    class="level-item button is-primary is-outlined">-</button>
                        </div>
                    </nav>
                </form>
            </div>
        </th:block>
        <th:block th:unless="${pageType == 'newKweet'}">
            <th:block th:each="kweet:${replies}">
                <div th:replace="fragments::kweet"></div>
            </th:block>
        </th:block>
    </th:block>
</section>
</body>
</html>