<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      th:with="title=${username}+' - Kwetter',hasNavigation=true">
<head th:replace="fragments::htmlHeader"></head>
<body>
<section th:replace="fragments::header(navigation=~{::.tabs})">
    <div class="tabs is-centered is-toggle">
        <ul>
            <li th:classappend="${subPage == null}? 'is-active'">
                <a th:href="'/'+${username}">Kweets
                    <!--<strong th:text="${userProfile.amountOfKweets}"></strong>-->
                </a>
            </li>
            <li th:classappend="${subPage == 'and_replies'}? 'is-active'">
                <a th:href="'/'+${username}+'/and_replies'">And replies</a>
            </li>
            <li th:classappend="${subPage == 'with_media'}? 'is-active'">
                <a th:href="'/'+${username}+'/with_media'">With media</a>
            </li>
            <li th:classappend="${subPage == 'following'}? 'is-active'">
                <a th:href="'/'+${username}+'/following'">Following
                    <!--<strong th:text="${userProfile.amountOfFollowing}"></strong>-->
                </a>
            </li>
            <li th:classappend="${subPage == 'followers'}? 'is-active'">
                <a th:href="'/'+${username}+'/followers'">Followers
                    <!--<strong th:text="${userProfile.amountOfFollowers}"></strong>-->
                </a>
            </li>
            <li th:classappend="${subPage == 'likes'}? 'is-active'">
                <a th:href="'/'+${username}+'/likes'">Likes
                    <!--<strong th:text="${userProfile.amountOfLikes}"></strong>-->
                </a>
            </li>
        </ul>
    </div>
</section>
<section th:replace="fragments::main(left=~{::#userProfile},content=~{::#content})">
    <div class="card" id="userProfile">
        <div class="card-image">
            <figure class="image is-1by1">
                <img th:src="${userProfile.profilePicture}" alt="Profile picture" />
            </figure>
        </div>
        <div class="card-content">
            <h5 class="title is-5">
                <a th:text="${userProfile.fullName}" th:href="'/'+${userProfile.username}">-</a>
            </h5>
            <h6 class="subtitle is-6">
                <a th:text="'@'+${userProfile.username}"  th:href="'/'+${userProfile.username}">-</a>
                <span th:text="'Joined '+${userProfile.joinDate}" class="tag is-light is-pulled-right">-</span>
            </h6>
            <div th:text="${userProfile.biography}" class="content has-text-grey-light">-</div>
            <th:block th:unless="${userProfile.username} == ${#authentication.name}">
                <form th:action="'/'+${#authentication.name}+'/follow/'+${userProfile.username}+'?redirect='+${thisPath}"
                      method="post">
                    <button class="button is-outline is-light">Follow</button>
                </form>
                <form th:action="'/'+${#authentication.name}+'/unfollow/'+${userProfile.username}+'?redirect='+${thisPath}"
                      method="post">
                    <button class="button is-outline is-light">Unfollow</button>
                </form>
            </th:block>
        </div>
    </div>
    <th:block id="content">
        <th:block th:if="${subPage != 'following' && subPage != 'followers'}">
            <th:block th:each="kweet:${timelineables}">
                <div th:replace="fragments::kweet"></div>
            </th:block>
        </th:block>
        <th:block th:if="${subPage == 'following' || subPage == 'followers'}">
            <th:block th:each="followCard:${followCards}">
                <div th:replace="fragments::followCard"></div>
            </th:block>
        </th:block>
    </th:block>
</section>
</body>
</html>