<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en" th:with="title='Home - Kwetter'">
<head th:replace="fragments::htmlHeader"></head>
<body>
<section th:replace="fragments::header"></section>
<section th:replace="fragments::main(left=~{::#userCard},content=~{::#content})">
    <div class="card" id="userCard">
        <div class="card-content">
            <div class="media">
                <div class="media-left">
                    <a th:href="'/'+${userCard.username}">
                        <figure class="image is-64x64">
                            <img th:src="${userCard.profilePicture}" alt="Profile picture" />
                        </figure>
                    </a>
                </div>
                <div class="media-content">
                    <h5 class="title is-5">
                        <a th:text="${userCard.fullName}" th:href="'/'+${userCard.username}">-</a>
                    </h5>
                    <h6 class="subtitle is-6">
                        <a th:text="'@'+${userCard.username}" th:href="'/'+${userCard.username}">-</a>
                    </h6>
                </div>
            </div>
            <!--
            <nav class="level is-mobile">
                <div class="level-item has-text-centered">
                    <a th:href="'/'+${userCard.username}">
                        <p class="heading">Kweets</p>
                        <p th:text="${userCard.amountOfKweets}" class="title has-text-primary">-</p>
                    </a>
                </div>
                <div class="level-item has-text-centered">
                    <a th:href="'/'+${userCard.username}+'/following'">
                        <p class="heading">Following</p>
                        <p th:text="${userCard.amountOfFollowing}" class="title has-text-primary">-</p>
                    </a>
                </div>
                <div class="level-item has-text-centered">
                    <a th:href="'/'+${userCard.username}+'/followers'">
                        <p class="heading">Followers</p>
                        <p th:text="${userCard.amountOfFollowers}" class="title has-text-primary">-</p>
                    </a>
                </div>
            </nav>
            -->
        </div>
    </div>
    <th:block th:each="kweet:${timelineables}" id="content">
        <div th:replace="fragments::kweet"></div>
    </th:block>
</section>
</body>
</html>